# Catsafio Access Transformers

# LivingEntity.jumping — necesario para que TaxiVoladorEntity pueda leer
# si el jugador está pulsando la tecla de salto mientras va montado
public net.minecraft.world.entity.LivingEntity f_20899_ # jumping
